@charset "UTF-8";
/* line 5, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
--------------------------------------------------------------------------------
   variable
--------------------------------------------------------------------------------
*/
/**
 * color
 */
/**
* width
*/
/**
 * margin
 */
/*
--------------------------------------------------------------------------------
   Mixin items
--------------------------------------------------------------------------------
*/
/**
 * 絶対配置
 */
/**
 * 矩形シェイプ
 */
/**
 * シェイプを継承した画像表示オブジェクトを作成
 * @param $width  表示幅
 * @param $height 表示丈
 * @param $image  ファイル名（格納場所は $IMAGE-PATH を参照）
 */
/**
 * フレームアニメーション用の連番クラスを作成
 * @param $width  表示幅
 * @param $height 表示丈
 * @param $frame  フレーム数
 * @param $direct スプライトの方向 'horizont': 横、'vertical': 縦
 */
/*
--------------------------------------------------------------------------------
   extend
--------------------------------------------------------------------------------
*/
/**
 * よく使いそうな感じのwrapper
 */
/* line 33, ../scss/common/_extend.scss */
#main .main_container_circle1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 2px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .25s ease;
}
/* line 44, ../scss/common/_extend.scss */
#main .main_container_circle1 p {
  transition: all .25s ease;
}

/*
--------------------------------------------------------------------------------
   Common items
--------------------------------------------------------------------------------
*/
/**
 * 非表示
 */
/* line 12, ../scss/common/_common.scss */
.hide {
  display: none !important;
}

/* line 13, ../scss/common/_common.scss */
body, html {
  width: 100%;
  height: 100%;
}

/*
--------------------------------------------------------------------------------
   keyframes
--------------------------------------------------------------------------------
*/
@keyframes anime1 {
  25% {
    width: 500px;
    height: 500px;
  }
  50% {
    width: 50px;
    height: 50px;
  }
  75% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
@keyframes anime2 {
  20% {
    bottom: 100%;
  }
  40% {
    left: 100%;
    bottom: 0;
  }
  60% {
    left: 0;
    top: 100%;
  }
  80% {
    right: 100%;
    top: 0;
  }
  100% {
    right: 0;
    top: 0;
  }
}
@keyframes anime3 {
  0% {
    background-image: url(../img/yone1.png);
  }
  20% {
    background-image: url(../img/deshi.png);
  }
  40% {
    background-image: url(../img/yone1.png);
  }
  60% {
    background-image: url(../img/deshi.png);
  }
  100% {
    background-image: url(../img/ketsu1.png);
  }
}
/*
--------------------------------------------------------------------------------
   media
--------------------------------------------------------------------------------
*/
/* line 1, ../scss/pages/_index.scss */
#main {
  width: 100%;
  height: 100%;
}
/* line 5, ../scss/pages/_index.scss */
#main .main_container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fefefe;
}
/* line 11, ../scss/pages/_index.scss */
#main .main_container_circle1 {
  background-color: #3B5998;
}
/* line 14, ../scss/pages/_index.scss */
#main .main_container_circle1:hover {
  cursor: pointer;
}
/* line 43, ../scss/pages/_index.scss */
#main .main_container_circle_txt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  width: 200px;
  height: 45px;
  color: #3B5998;
  -webkit-text-stroke-color: #efefef;
  -webkit-text-stroke-width: 2px;
}
