#main {
  // 設定
  width: 100%;
  height: 100%;
  .main_container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $mainColoer;
  }
  .main_container_circle1 {
    @extend %circle_common;
    background-color: $circleColor;
    &:hover {
      cursor: pointer;
      // @extend %hover1;
      // @extend %hover2;
      // @extend %hover3;
      // @extend %hover4;
    }
    // p {display: none;}
    // animation: anime1 5s linear infinite;
    // animation: anime2 5s linear infinite;
    // animation: anime3 4s linear infinite;
  }
  @mixin circle_set($size, $color, $top, $left) {
    width: $size;
    height: $size;
    position: absolute;
    top: $top;left: $left;bottom: 0;right: 0;
    margin: auto;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $color;
    transition: all .25s ease;
  }
  // @mixin circle_set($width, $height, $color, $top, $left)
  .main_container_circle2 {
  // @include circle_set(100px, $circleColorSub, 20%, 280px);
  }
  .main_container_circle_txt {
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    width: 200px;
    height: 45px;
    color: $circleColor;
    -webkit-text-stroke-color: #efefef;
    -webkit-text-stroke-width: 2px;
  }
}
