@charset "UTF-8";
/*
--------------------------------------------------------------------------------
   Common items
--------------------------------------------------------------------------------
*/
//共通設定はここに書いてください！

/**
 * 非表示
 */
.hide { display: none !important; }
body,html {
    width: 100%;
    height: 100%;
}
