/*
--------------------------------------------------------------------------------
   extend
--------------------------------------------------------------------------------
*/
// 使い方
// 使いたい要素内で「@extend 名前;」
// 例）　
// .wrapper {
//   @extend %section-wrap;
// }


/**
 * よく使いそうな感じのwrapper
 */
%section-wrap {
    max-width: 960px;
    margin: $auto;
}

%clearfix {
  *zoom: 1;
  &:after {
    content : '';
    display : block;
    clear : both;
    height: 0;
  }
}

  // @extend設定
  %circle_common {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    margin: auto;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    transition: all .25s ease;
    p {
      transition: all .25s ease;
    }
  }
  %hover1 {
    background-color: $circleColorSub;
    p {color: $circleColorSub;}
  }
  %hover2 {
    width: 500px;
    height: 500px;
  }
  %hover3 {
    border-radius: 0;
    p {
      height: auto;
      font-size: 80px;
    }
  }
  %hover4 {
    background-image: url(../img/ketsu1.png);
    p {
      display: none;
    }
  }
