/*
--------------------------------------------------------------------------------
   keyframes
--------------------------------------------------------------------------------
*/
// 使い方
// CSSアニメーション用のkeyframesはここにまとめましょう！
// 例）　
// @keyframes blue {
//     0% {margin-left: 50px;}
//     100% {margin-left: 100px;}
// }
// 使いたい場所で、
// .blue_box {
//     animation: blue 1s linear infinite;
// }
@keyframes anime1 {
    25% {
      width: 500px;
      height: 500px;
    }
    50% {
      width: 50px;
      height: 50px;
    }
    75% {
      width: 100%;
      height: 100%;
    }

    100% {
      width: 200px;
      height: 200px;
    }
}
@keyframes anime2 {
    20% {
      bottom: 100%;
    }
    40% {
      left: 100%;
      bottom: 0;
    }
    60% {
      left: 0;
      top: 100%;
    }

    80% {
      right: 100%;
      top: 0;
    }
    100% {
      right: 0;
      top: 0;
    }
}
@keyframes anime3 {
    0% {
      background-image: url(../img/yone1.png);
    }
    20% {
      background-image: url(../img/deshi.png);
    }
    40% {
      background-image: url(../img/yone1.png);
    }
    60% {
      background-image: url(../img/deshi.png);
    }
    100% {
      background-image: url(../img/ketsu1.png);
    }
}