/*
--------------------------------------------------------------------------------
   media
--------------------------------------------------------------------------------
*/
// 使い方
// 使用したい内容をピンポイントで指定
// 例）spの時だけ文字を青から赤にしたい。
// p {
//     color: blue;
//     @include is_sp {
//         color: red;
//     }
// }

    $breakpointMax: 800px;
    $breakpointMin: 500px;
    //PC用設定
    @mixin is_pc() {
      @media screen and (min-width: $breakpointMax) {
        @content;
      }
    }
    //タブレット用設定
    @mixin is_tab() {
      @media screen and (min-width: $breakpointMin ) and (max-width: $breakpointMax) {
        @content;
      }
    }
    //SP用設定
    @mixin is_sp() {
      @media screen and  (max-width: $breakpointMin) {
        @content;
      }
    }


