@charset "UTF-8";
/*
--------------------------------------------------------------------------------
   Mixin items
--------------------------------------------------------------------------------
*/
/**
 * 絶対配置
 */
@mixin position($left, $top, $right: none, $bottom: none) {
    position: absolute;
    @if $left   != none { left:   $left; }
    @if $top    != none { top:    $top; }
    @if $right  != none { right:  $right; }
    @if $bottom != none { bottom: $bottom; }
}

/**
 * 矩形シェイプ
 */
@mixin shape($width, $height) {
    overflow: hidden;
    display: block;
    width: $width;
    height: $height;
    font-size: 0;
    line-height: 0;
}

/**
 * シェイプを継承した画像表示オブジェクトを作成
 * @param $width  表示幅
 * @param $height 表示丈
 * @param $image  ファイル名（格納場所は $IMAGE-PATH を参照）
 */
@mixin sprite($width, $height, $image) {
    @include shape($width, $height);
    position: absolute;
    background-repeat: no-repeat;
    background-image: url($image);
}

/**
 * フレームアニメーション用の連番クラスを作成
 * @param $width  表示幅
 * @param $height 表示丈
 * @param $frame  フレーム数
 * @param $direct スプライトの方向 'horizont': 横、'vertical': 縦
 */
@mixin frameAnimation($width, $height, $length, $label, $direct) {
    @for $i from 0 through $length {
        &#{$label}#{$i} {
            @if $direct == 'horizontal' {
                background-position: #{-$width * $i} $height;
            } @else if $direct == 'vertical' {
                background-position: $width #{-$height * $i};
            }
        }
    }
}

