/*
--------------------------------------------------------------------------------
   variable
--------------------------------------------------------------------------------
*/

/**
 * color
 */
$white: #fff;
$black: #404040;
$gray : #f4f4f4;
$gray_dark : #3d3d3d;
$navy : #466e8c;
$blue : #3498db;

  // 変数設定
  $mainColoer: #fefefe;
  $circleColor: #3B5998;
  $circleColorSub: #50ABF1;


/**
* width
*/
$contentWidth : 560px;
$innerWidth: 960px;

/**
 * margin
 */
$auto : 0 auto;